<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../all.style.css">
    <link rel="stylesheet" href="../IT/IT.css">
    <link rel="stylesheet" href="all.style.css">
    <link rel="stylesheet" href="IT.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ヘッドホンの歴史</title>
    <link rel="icon" href="../img/favicon (2).ico">
</head>
<body>
    <h1>ITの歴史</h1>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="../company/co-top.html">company</a></li>
                <li><a href="../news/news-top.html">news</a></li>
                <li><a href="../self-introduction/self-introduction.html">profile</a></li>
            </ul>
            <ol class="breadcrumbs">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../IT/it-top.html">IT-TOPページ</a></li>
                <li><a href="#">headphone</a></li>
                <li><a href="https://gigazine.net/news/20140822-evolution-of-headphone/">参考ページ</a></li>
            </ol>
        </nav>
    </header>
    <table>
        <thead>
            <caption>ヘッドフォンの歴史</caption>
                <tr>
                    <th>年代</th>
                    <th>歴史</th>
                </tr>
    
        <tbody>
            <tr>
                <td>1890年~1920年代</td>
                <td>エレクトロフォンと呼ばれる有線放送の一種。当時普及が進んでいた電話線を利用して音楽を家庭に届けるという仕組みの初めて音楽を自宅で楽しむということを可能になった。
                    ヘッドホンの原型になったレシーバーといわれる物だった。
                </td>
            </tr>
            <tr>
                <td>1930年代</td>
                <td>ドイツのオイゲン・バイヤー氏は世界初となるダイナミック型ヘッドホンを発明し、モデル「DT48」を世に送り出す。
                    ダイナミック型ヘッドホンは、発明から80年近くなる現在でも基本原理はそのまま用いられているという。
                </td>
            </tr>
            <tr>
                <td>1950年代</td>
                <td>ハンドルが付いて片耳で聴くタイプのスティックフォン。街のレコード店や「レコードバー」などに設置されて若者に音楽の魅力を伝える役目。</td>
            </tr>
            <tr>
                <td>1958年</td>
                <td>アメリカのジョン・コス氏が世界で初めて開発したステレオヘッドホンの登場により純粋に音楽を楽しむためのヘッドホンが誕生。</td>
            </tr>
            <tr>
                <td>1980年代</td>
                <td>ウォークマンのために、ソニーでは軽量の新型モデルMDR-3を開発。飛躍的にコンパクトで軽量なボディはウォークマンのコンセプトをそのまま具現化するものとなった。
                    カセットテープのケースそのまま音楽を聴く装置になったウォークマンは、当時は非常に画期的なもの。
                </td>
            </tr>
            <tr>
                <td>1990年代</td>
                <td>音楽はアナログからデジタルへと主流が移行し、音楽はデータとして扱う時代が到来。カセットテープはPCのハードディスクやメモリーカードに置き換えられ、コンピューターで曲のライブラリを管理することが一般的になり始めた。</td>
            </tr>
            <tr>
                <td>2001年</td>
                <td>Appleが発売した「自分のミュージックライブラリをポケットに入れて持ち歩く」ためのiPodは熱狂的な人気を集めた。
                    「iPodの白いイヤホン」はそのまま最新ファッションのアイテムとして認識されるようになった。
                    白いイヤホンは音質が批判されることも多かった。
                </td>
            </tr>
            <tr>
                <td>2012年</td>
                <td>iPhone 5から付属しているEarPodsでは大幅に音質が向上していた。</td>
            </tr>
            <tr>
                <td>2013年</td>
                <td>Appleはヘッドホンメーカー「Beats」を約3000億円で買収。
                    BeatsブランドはDJのDr. Dreと音楽プロデューサーのジミー・アイオヴィン氏が設立したブランドで、その設立には高級ケーブル「モンスターケーブル」で有名なモンスターが関与していた。
                    Beatsはプレミアムヘッドホン市場の50%のシェアを獲得しているともいわれている。
                </td>
            </tr>
        </tbody>
        </thead>
    </table>
    <div class="img">
        <img src="img/ヘッドホン1.jpg" alt="ITの歴史">
        <img src="img/ヘッドホン2.jpg" alt="ITの歴史">
    </div>

    
</body>
</html>