<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../all.style.css">
    <link rel="stylesheet" href="../company/co.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>co-topページ</title>
    <link rel="icon" href="../img/favicon (2).ico">
</head>
<body>
    <h1>company-topページ</h1>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../IT/it-top.html">IT</a></li>
                <li><a href="#">company</a></li>
                <li><a href="../news/news-top.html">news</a></li>
                <li><a href="../self-introduction/self-introduction.html">profile</a></li>
            </ul>
            <ol class="breadcrumbs">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">co-top</a></li>
                <li><a href="../company/infrastructure.html">infrastructure</a></li>
                <li><a href="https://mynavi-agent.jp/it/jobindex/">参考ページ</a></li>
            </ol>
        </nav>
    </header>
    <div class="img">
        <img src="img/building_kaisya.png" alt="画像">
        <img src="img/computer_income_businessman.png" alt="画像">
    </div>
    
</body>
</html>