<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../all.style.css">
    <link rel="stylesheet" href="../company/co.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>気になる企業</title>
    <link rel="icon" href="../img/favicon (2).ico">
</head>
<body>
    <h1>インフラエンジニア</h1>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../IT/it-top.html">IT</a></li>
                <li><a href="#">company</a></li>
                <li><a href="../news/news-top.html">news</a></li>
                <li><a href="../self-introduction/self-introduction.html">profile</a></li>
            </ul>
            <ol class="breadcrumbs">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../company/co-top.html">co-top</a></li>
                <li><a href="#">infrastructure</a></li>
                <li><a href="https://mynavi-agent.jp/it/jobindex/">参考ページ</a></li>
            </ol>
        </nav>
    </header>
    
    <h3>＜インフラエンジニアとは?＞</h3>
    <p>インフラエンジニアは、システムの基盤となるITインフラの設計・構築・整備・保守に従事する職種。
        ITシステムの基盤を扱う職種であり、社会生活を送る上で必要不可欠な役割を果たしている。
        インフラエンジニアの代表的な職種は、サーバーエンジニアとネットワークエンジニアである。</p>
    <h3>＜仕事内容について＞</h3>    
    <p>仕事内容は多岐にわたるため、企業によってインフラエンジニアの担当業務は異なる。 
        一般的にはITシステムの要件定義を行って機器を調達し、機器の設置と通信ケーブルの配線を行い、ソフトウェアのインストールやネットワーク設定を行うのが主な業務となる。
        クライアントの要望に合わせインフラを設計する「設計」や、設計書に沿いインフラを作り上げる「構築」、構築したインフラが稼働するように作業する「運用」などの業務があり、
        大きく分けると上流工程（設計・構築）と下流工程（運用・保守）に分類できる。
    <h3>＜サーバーエンジニア＞</h3>
    <p>サーバーエンジニアはサーバーに特化した職種で、サーバー選定や設計、構築、テスト、保守など運用に関する業務全般を行なう。
        サーバーにはファイルサーバーやメールサーバー、Webサーバーなどさまざまな種類がある。
        サーバーの設計・構築はもちろん、障害が発生したときの対応を含めた運用・保守を行う。
        また、サーバーを他の機器とケーブルでつないで配線するなどの、物理的な作業も業務の対象となっている。
    </p>    
    <p>＜ネットワークエンジニア＞</p>
    <p>ネットワークエンジニアはネットワークに特化した職種。
        コンピューターやサーバーを接続し、ネットワーク環境を設計・構築・運用することで、データを安定して送受信できる環境を作る。
        ネットワークの設計図を作成し、それに基づいて接続してネットワーク環境を作る。
        その際、トラブル・不具合を確認しながら運用・保守を行うため、トラブルシューティングも行うこともある。
    </p>
    </p>
    <div class="img">
        <img src="img/IT企業.png" alt="IT企業">
        <img src="img/インフラ系.jpg" alt="インフラ">
    </div>
</body>
</html>