<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="all.style.css">
    <link rel="stylesheet" href="index.html.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML/CSS中間課題</title>
    <link rel="icon" href="img/favicon (2).ico">

</head>
<body>
    <h1>HTML/CSS中間課題</h1>
    <header>  
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="IT/it-top.html">IT</a></li>
                <li><a href="company/co-top.html">company</a></li>
                <li><a href="news/news-top.html">news</a></li>
                <li><a href="self-introduction/self-introduction.html">profile</a></li>
            </ul>
            <ol class="breadcrumbs">
                <li><a href="#">Home</a></li>
            </ol>
        </nav>
    </header>
    <div class="container">
        <p>学科:高度情報工学科</p>
        <p>学籍番号:4231103</p>
        <p>名前:附柳 祥華</p>
    </div>
</body>
</html>