<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../all.style.css">
    <link rel="stylesheet" href="../news/news.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news-top</title>
    <link rel="icon" href="../img/favicon (2).ico">
</head>
<body>
    <h1>news-topページ</h1>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../IT/it-top.html">IT</a></li>
                <li><a href="../company/co-top.html">company</a></li>
                <li><a href="#">news</a></li>
                <li><a href="../self-introduction/self-introduction.html">profile</a></li>
            </ul>
            <ol class="breadcrumbs">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">news-top</a></li>
                <li><a href="../news/news.html">news</a></li>
                <li><a href="https://ja.wikipedia.org/wiki/%E3%82%B8%E3%83%A3%E3%83%8B%E3%83%BC%E5%96%9C%E5%A4%9A%E5%B7%9D%E3%81%AB%E3%82%88%E3%82%8B%E6%80%A7%E5%8A%A0%E5%AE%B3%E5%95%8F%E9%A1%8C">参考ページ</a></li>
            </ol>
        </nav>
    </header>
    <div class="img">
        <img src="img/website_news.png" alt="画像">
        <img src="img/jouhou_hanran.png" alt="画像">
    </div>
</body>
</html>