<!--記述済みの部分は変更しないでください！-->
<!DOCTYPE html>
<html lang="en">

<head>
  
<link rel="stylesheet" href="../all.style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己紹介</title>
    <link rel="stylesheet" href="self-introduction-style.css">
    <link rel="icon" href="../img/favicon (2).ico">
</head>


<body>
    <h1>自己紹介ページ</h1>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../IT/it-top.html">IT</a></li>
                <li><a href="../company/co-top.html">company</a></li>
                <li><a href="../news/news-top.html">news</a></li>
                <li><a href="#">profile</a></li>
            </ul>
            <ol class="breadcrumbs">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">profile</a></li>
              
            </ol>
        </nav>
    </header>
    <ul class="mark-list">
        <li>自己紹介をお願いします！</li>
        <p>附柳祥華</p>
        <li>長所・短所は？</li>
        <p>素直なところ・考えすぎるところ</p>
        <li>自分を動物に例えると何ですか？</li>
        <p>犬</p>
        <li>自分をIT機器に例えると何だと思いますか？</li>
        <p>スマホ</p>
        <li>ストレス発散方法はありますか？</li>
        <p>TickTokを見る、寝ること、音楽を聞く</p>
        <li>一つ夢が叶うとしたら何をお願いしますか？</li>
        <p>亡くなった愛犬と話したい</p>
        <li>今後働く上で、モチベーションを高めるものは何だと思いますか？逆に、下げるものは何だと思いますか？</li>
        <p>モチベーションを高めるものはお金で、モチベーションを下げるものは自分の時間がないこと</p>
        <li>100万円あったら何に使いますか？</li>
        <p>貯金</p>
        <li>「オススメの○○」を教えてください！</li>
        <p>ダークギャザリング</p>
    </ul>
    <div class="img">
        <img src="img/ダークギャザリング.jpg" alt="ダークギャザリング">
        <img src="img/花魁.jpg" alt="花魁">
    </div>
</body>

</html>